#real-content
{
    background-color: #CCFFFF;
}
.date-restaurants
{
    list-style-type: none;
}

.restaurants
{
    margin-left: 0px;
}

.domainList
{
    margin-left: 10px;
}

.date-restaurants .date
{
    color: white;
    text-align: center;
    background-color: #6666FF;
    border-style:solid;
    border-width:2px;
    border-color:#000000;
}

.leftColumn
{
    float: left;
    margin-left:25px;
    margin-right:50px;
}

.rightColumn
{
    float: right;
}

.domainItem
{
    list-style-type: none;
}

.domainName
{
    border-style:solid;
    border-width:1px;
    border-color:#000000;
    background-color: #FF3333;
}

.date-restaurantInfo
{
    list-style-type: none;
}

a:link { color: blue; }
a:visited { color: blue; }

.restaurant
{
    background-color: #FFFF88;
}
/*
.date-restaurants:nth-child(odd)
{
    color: white;
    background-color: Blue;
}

.date-restaurants:nth-child(even)
{
    color: white;
    background-color: SkyBlue;
}
*/

