
<div id="real-content" data-lift="surround?with=default;at=bind-content">
	<head>
		<title>Home</title>
	</head>

	<section>
        <h1>My Dashboard</h1>
		Read more <a href="/extra/about.html">about</a> me
	</section>

    <div data-lift="LogInForm.loggedOut">
        <form class="lift:LogInForm.logIn?form=post">
            <label for="textName">Username: </label><input type="text" id="textName" name="name" />
                <span class="lift:Msg?id=name;errorClass=error"> </span><br/>
            <label for="textPassword">Password: </label><input type="password" id="textPassword" name="password" />
                <span class="lift:Msg?id=password;errorClass=error"></span> <br/>
            <input type="submit" value="Log in" />
        </form>
    </div>
	
</div>